.AddProduct {

  .modal-dialog {
    max-width: unset;
    width: 750px;
  }

  .modal-content {
    background: $main-background-modal;
    border-radius: $main-border-radius;
    box-shadow: $main-shadow;
  }

  .modal-header {
    border: none;
    padding-bottom: 0;
  }

  .modal-body {
    padding-top: 0;
  }

  &__title {
    text-shadow: $main-shadow-text;
    background-color: rgba(220, 220, 220, .05);
    border-top: 1px solid rgba(220, 220, 220, .15);
    border-bottom: 1px solid rgba(220, 220, 220, .15);
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-weight: 500;
  }

  &__cancel {
    background: gray;
  }

  &__form {
    padding: 0 40px;
    position: relative;
  }

  &__label {
    display: block;
    margin: 25px 0 5px;
  }

  &__input {
    display: block;
    height: 30px;
    width: 300px;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 14px;
  }

  .textarea {
    height: 100px;
    min-height: 30px;
  }

  .sub-title {
    display: flex;
    align-items: center;
    margin: 40px -40px 0;
    width: calc(100% + 80px);
  }

  &__custom-properties-block {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
  }

  &__left-col {
    margin-right: 30px;
  }

  .select-value input {
    margin-bottom: 20px;
  }

  .select-value .error-hint {
    transform: translateY(-20px);
  }

  &__add-property, &__delete-property, &__delete-value, &__add-value {
    display: inline-flex;
    justify-content: center;
    line-height: 26px;
    width: 32px;
    height: 32px;
    border-radius: 7px;
    background: none;
    border: 2px solid $color-orange;
    margin-left: 30px;
    font-weight: 500;
    transition: 300ms;

    &:hover {
      box-shadow: $main-shadow-hover;
      cursor: pointer;
      text-shadow: $main-shadow-text;
    }
    &:focus {
      outline: none;
    }
  }

  &__delete-property {
    position: absolute;
    left: -40px;
    margin: 0;
    transform: translateY(-31px);
  }

  &__delete-value {
    position: absolute;
    right: -35px;
    transform: translateY(-51px);
  }

  &__add-value {
    margin: 0;
  }

  &__submit {
    margin: 30px auto 10px;
  }
}

@media screen and (max-width: 768px) {
  .AddProduct {

    .modal-dialog {
      margin: 0;
      width: 100%;
      min-height: 100%;
      max-width: unset;
      max-height: unset;
    }

    .modal-content {
      height: 100%;
    }

    &__cancel, &__submit {
      height: 40px;
      width: 180px;
    }

    &__form {
      padding: 0;
    }

    &__input {
      width: 100%;
    }

    .sub-title {
      margin: 40px 0 20px;
      width: 100%
    }

    &__custom-properties-block {
      flex-flow: column nowrap;

      .AddProduct__input {
        width: calc(100% - 40px);
      }

      .custom-property-value {
        width: 100%;
      }
    }

    &__left-col {
      margin-right: 0;
    }

    &__delete-property {
      left: unset;
      right: 0;
    }

    &__delete-value {
      right: 0;
    }
  }
}