.AddProperty {

  .modal-content {
    background: $main-background-modal;
    border-radius: $main-border-radius;
    box-shadow: $main-shadow;
  }

  .modal-header {
    border: none;
    padding-bottom: 0;
  }

  .modal-body {
    padding-top: 0;
  }

  &__title {
    text-shadow: $main-shadow-text;
    background-color: rgba(220, 220, 220, .05);
    border-top: 1px solid rgba(220, 220, 220, .15);
    border-bottom: 1px solid rgba(220, 220, 220, .15);
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-weight: 500;
  }

  &__cancel {
    background: gray;
  }

  &__form {
    padding: 0 40px;
  }

  &__label {
    display: block;
    margin: 15px 0 5px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
  }

  &__values {
    display: flex;
    flex-flow: column nowrap;
  }

  &__value {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    height: 40px;

    .custom-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    label {
      display: inline-flex;
      align-items: center;
    }

    .custom-checkbox + label {
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &:before {
        content: "";
        display: inline-flex;
        background: gray;
        width: 50px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 20px;
        margin-right: 20px;
        transition: 300ms;
      }

      &:after {
        content: "";
        display: inline-flex;
        background: #ffffff;
        width: 25px;
        height: 25px;
        left: 5px;
        position: absolute;
        border-radius: 50%;
        transition: 300ms;
      }
    }

    .custom-checkbox:checked + label {

      &:before {
        background: $color-orange;
      }

      &:after {
        left: 22px;
      }
    }
  }

  &__submit {
    margin: 30px auto 10px;
  }
}

@media screen and (max-width: 768px) {
  .AddProperty {

    .modal-dialog {
      margin: 0;
      width: 100%;
      height: 100%;
      max-width: unset;
      max-height: unset;
    }

    .modal-content {
      height: 100%;
    }

    &__cancel, &__submit {
      height: 40px;
      width: 180px;
    }

    &__form {
      position: absolute;
      width: calc(100% - 30px);
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
    }
  }
}