.ProductsList {
  width: 100%;
  box-shadow: $main-shadow;
  border-radius: $main-border-radius;
  background: $main-background;
  margin: 0 auto;
  padding: $main-padding;

  &__table-wrapper {
    overflow: auto;
    width: 100%;
    padding: 0 20px 30px;
  }

  &__table {
    width: 100%;
    min-width: 600px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 30px;
    border-collapse: collapse;
    table-layout: auto;

    tbody > tr {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      height: 30px;
    }

    th {
      font-size: 13px;
      font-weight: normal;
      text-align: left;
      opacity: 0.5;
      padding-bottom: 5px;
      cursor: pointer;
      position: relative;

      &:last-child {
        cursor: default;
      }

    }

    &__change-button:first-child {
      margin-right: 10px;
    }

    &__change-button:last-child:hover {
      background: red;
    }
  }

  &__add-button {
    margin: 30px 0 30px auto;
  }
}