.ProductCard {
  width: 100%;
  box-shadow: $main-shadow;
  border-radius: $main-border-radius;
  background: $main-background;
  margin: 0 auto;
  padding: $main-padding;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;

  &__back-link {
    background: gray;
    margin: 0 0 25px auto;
    flex-shrink: 0;

    &:hover {
      text-shadow: $main-shadow-text;
    }
  }

  &__title-block {
    display: flex;
    flex-flow: row nowrap;
  }

  &__img-container {
    width: 350px;
    height: max-content;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    flex-shrink: 0;
    z-index: 10;

    &:hover {
      cursor: pointer;
    }
  }

  &__img {
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: ease-in-out 500ms;
  }

  .img-zoom {
    width: 700px;
    height: auto;
    transition: ease 1000ms;
  }

  &__title {
    text-align: justify;
  }

  &__properties-block {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 20px;
  }

  &__property {
    display: inline-block;
    padding: 0 20px;
    flex: 0 0 275px;
    margin-bottom: 30px;
  }

  .values-list {
    padding-left: 20px;
    opacity: .5;
  }

  &__label {
    font-weight: 500;
  }

  &__value {
    opacity: .5;
  }
}

@media screen and (max-width: 768px) {
  .ProductCard {
    padding: 10px;
    flex-grow: 1;

    &__title-block {
      flex-flow: column-reverse nowrap;
    }

    &__img-container {
      width: 100%;
      margin: 0 auto;

      &:hover {
        cursor: default;
      }
    }
  }
}