.Products {
  width: 100%;
  box-shadow: $main-shadow;
  border-radius: $main-border-radius;
  background: $main-background;
  margin: 0 auto;
  padding: $main-padding;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.ProductsList {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow: hidden;

  &__add-button-label-sm {
    display: none;
  }

  &__header {
    padding-bottom: 10px;
  }

  &__header &__cell {
    opacity: 0.5;
    transition: 300ms;
  }

  &__table {
    width: 100%;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    margin-right: 10px;
    min-width: 570px;
  }

  &__cell {
    display: flex;
    align-items: center;

    &-name {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 10px;
      min-width: 150px;
    }

    &-price {
      text-align: center;
      flex: 0 0 100px;
    }

    &-date {
      text-align: center;
      flex: 0 0 120px;
    }

    &-control {
      flex: 0 0 270px;
      padding-left: 10px;
      justify-content: center;
    }
  }

  &__product-link {
    color: #ffffff;
    transition: 300ms;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: none;
      color: #ffffff;
      text-shadow: $main-shadow-text;
    }
  }

  &__delete {
    margin-left: 20px;

    &:hover {
      background-color: $color-red;
    }
  }
}

@media screen and (max-width: 768px) {
  .Products {
    flex-grow: 1;
    padding: 5px 5px 50px;
  }

  .ProductsList {
    &__cell-price {
      flex: 0 0 100px;
    }

    &__cell-date {
      flex: 0 0 100px;
    }

    &__cell-control {
      flex: 0 0 200px;
    }

    &__delete {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 460px) {
  .ProductsList {

    &__add-button {
      width: 30px;
      height: 30px;
      padding: 0;
    }

    &__add-button-label-sm {
      display: inline;
    }

    &__add-button-label {
      display: none;
    }
  }
}