.Registration {
  width: 400px;
  box-shadow: $main-shadow;
  border-radius: $main-border-radius;
  background: $main-background;
  padding: $main-padding;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: $main-shadow-text;
  }

  &__label {
    display: block;
    margin: 25px 0 5px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 7px;
    padding: 0 10px;
    font-size: 14px;
  }

  .hide {
    opacity: 0;
  }

  .password-show-icon {
    position: absolute;
    right: 25px;
    transform: translateY(-27px);

    i {
      color: $main-background;
    }

    &:hover {
      cursor: pointer;

      i {
        color: black;
      }
    }
  }

  &__registration, &__back {
    display: flex;
    justify-content: center;
  }

  &__submit {
    margin: 40px auto 10px;
  }
}