.Start-page {
  width: 100%;
  box-shadow: $main-shadow;
  border-radius: $main-border-radius;
  background: $main-background;
  margin: 0 auto;
  padding: $main-padding;
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &__opportunities-list, &__tech-list {
    padding-left: 20px;
    font-style: italic;
    opacity: .5;
  }

  &__auth {
    color: #FFFFFF;
    font-weight: 500;
    transition: 300ms;

    &:hover {
      color: #FFFFFF;
      text-shadow: $main-shadow-text;
      transition: 300ms;
    }
  }
}

.Welcome {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}